/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color : #01011A;
}
.txt-title {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-fill: white;
}

.txt-menu-title {
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-fill: white;
}

.txt-answer {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-fill: white;
}

.txt-error {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-fill: red;
}

.label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size : 15px;
}

.button {
	-fx-background-color : transparent;
	-fx-border-width : 3px;
	-fx-border-style : solid;
	-fx-border-color : #4080FF;
	-fx-text-align : center;
	-fx-text-fill : white;
	-fx-font-weight : bold;
	-fx-font-size : 15px;
	-fx-transition : 0.25s;
}

.button:hover {
	-fx-background-color : #4080FF;
}

.text-field {
	-fx-background-color : transparent;
	-fx-border-style : solid;
	-fx-border-color : #4080FF;
	-fx-border-width : 2px;
	-fx-text-fill : white;
	-fx-font-weight : bold;
}

.text-field:focused {
	-fx-border-width : 3px;
	-fx-border-color : #B817FA;
}